.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	min-height: $size;
	background: $deep;
	border-bottom: 1px solid rgba(255, 255, 255, $opacity);

	@include media-breakpoint-down(lg) {
		min-height: $size-sm;
	}
}

.header__logo {
	margin-right: 27px;

	@include media-breakpoint-down(lg) {
		width: min-content;
	}
}

.logo {
	text-decoration: none;

	&:hover > .logo__name {
		color: $accent;
	}

	@include media-breakpoint-down(lg) {
		& > .logo__name {
			font-size: 11px;
			margin-left: 14px;
			display: block;
		}
	}
	@include media-breakpoint-down(md) {
		& > .logo__name {
			display: none;
		}
	}
}

.logo__img {
	width: $size;
	object-fit: contain;

	@include media-breakpoint-down(lg) {
		width: $size-sm;
	}
}

.logo__name {
	font-weight: 500;
	font-size: 13px;
	line-height: 15px;
	letter-spacing: 0.5em;
	text-transform: uppercase;
	color: $white;
	vertical-align: middle;
	transition: color $transition;
}

.contacts {
	display: flex;
	align-items: center;
	flex-grow: 1;
	margin: 0;
	padding: 0;
	list-style: none;
	font-weight: 400;
	font-size: 10px;
	line-height: 12px;
	letter-spacing: 0.4em;
	text-transform: uppercase;
	color: $white;

	@include media-breakpoint-down(lg) {
		justify-content: center;
	}
}

.header__contacts {
	&::before,
	&::after {
		display: block;
		content: "";
		width: 50px;
		height: 1px;
		margin: 0 auto;
		background-color: $white;
		opacity: $opacity * 2;

		@include media-breakpoint-down(lg) {
			display: none;
		}
	}
}

// comment
.contacts__item {
	padding: 9px 27px;

	:first-child {
		opacity: 0.5;
	}

	a {
		white-space: nowrap;
		text-decoration: none;
		color: $accent;
	}

	&:not(:last-child) {
		border-right: 1px solid rgba(255, 255, 255, 0.2);

		@include media-breakpoint-down(md) {
			text-align: right;
		}

		@include media-breakpoint-down(sm) {
			border-right: none;
			text-align: center;
		}
	}

	@include media-breakpoint-down(sm) {
		&:last-child {
			display: none;
		}
	}
}

.header__buttons {
	margin-left: 27px;
	background: #3c3c3c;
}

.burger-icon {
	display: block;
	margin: auto;
}
