.hero-content {
	padding-left: $size;
	height: 100%;
	position: relative;
	background-color: $deep;
}

.swiper-txt {
	height: calc(100% - $size);
	width: calc(100% - $size);
	overflow: hidden;
	position: absolute;
	z-index: 3;
}

.swiper-txt__slide {
	display: flex;
}

.swiper-txt__info {
	color: $white;
	width: 63%;
	text-align: right;
	align-self: center;
	margin-left: auto;
	margin-right: 17%;
}

.swiper-txt__title {
	margin-bottom: 21px;
	font-family: "oswald-vh", sans-serif;
	font-weight: 700;
	font-size: 60px;
	line-height: 120%;
	text-transform: uppercase;

	span {
		color: $accent;
		white-space: nowrap;
	}
}

.swiper-txt__desc {
	padding-left: 30%;
	margin-bottom: 18px;
	font-weight: 600;
	font-size: 13px;
}

.swiper-txt__button {
	width: auto;
	height: auto;
	padding: 17px 26px;
	font-weight: 800;
	font-size: 10px;
	line-height: 120%;
	color: $white;
	letter-spacing: 2px;
	text-transform: uppercase;
	background: $accent;
	position: relative;

	&::before {
		content: "";
		position: absolute;
		width: 0;
		height: 100%;
		top: 0;
		left: 0;
		background: $dark;
		transition: width 0.75s ease-out;
	}

	&:hover,
	&:focus {
		&::before {
			width: 100%;
		}
	}

	span {
		position: relative;
		z-index: 2;
	}
}

.swiper-img {
	width: 75%;
	height: 100%;
	overflow: hidden;
	position: relative;

	&::before {
		display: block;
		content: "";
		width: 100%;
		height: 100%;
		background-color: rgba($black, 0.45);
		position: absolute;
		z-index: 2;
	}
}

.swiper-img__slide {
	height: 100%;
	overflow: hidden;
}

.slide-img__bg {
	// width: 100%;
	height: 100%;
	background-position: center;
	background-size: cover;
}

.hero-content__controls {
	display: flex;
	justify-content: space-between; //
	align-items: center;
	bottom: 0;
	width: 71%;
	position: absolute;
	z-index: 3;
	//
	height: $size;
}

.hero-content__share {
	background: $dark;
	border-right: 3px solid $accent;

	.soc__link {
		border-left: 1px solid $white;

		&:hover {
			opacity: 1;
			// border-left: none;
		}

		// &:first-child {
		// 	pointer-events: none;
		// }
	}
}

.hero-content__pagination {
	// flex: 0 0 140px;
	width: 140px;
	height: 66%;
	position: relative;

	.swiper-pagination-bullet {
		width: 14px;
		height: 14px;
		background-color: transparent;
		opacity: 1;
		position: relative;
		&::before {
			display: block;
			content: "";
			width: 6px;
			height: 6px;
			background-color: $white;
			top: 50%;
			left: 50%;
			border-radius: 50%;
			transform: translate(-50%, -50%);
			position: absolute;
		}
	}

	.swiper-pagination-bullet-active {
		border: 1px solid $accent;

		&::before {
			background-color: $accent;
		}
	}
}

.hero-content__scrolbar {
	// flex: 1 0 0;
	flex-grow: 1;
	height: 5px;

	.swiper-scrollbar {
		height: 2px;
		background: rgba(255, 255, 255, $opacity * 2);
	}

	.swiper-scrollbar-drag {
		height: 4px;
		background: $accent;
		top: -1px;
	}
}

.hero-content__navigation {
	// flex: 0 0 140px;
	position: relative;
	width: 140px;
	height: 100%;

	.swiper-button-prev,
	.swiper-button-next {
		width: 32px;
		height: 32px;
		color: $accent;
		background: #3c3c3c;
		border: 2px solid $accent;
		border-radius: 50%;

		&::after {
			font-size: 10px;
		}
	}

	.swiper-button-prev {
		left: 24%;

		&::after {
			margin-right: 2px;
		}
	}
	.swiper-button-next {
		right: 24%;

		&::after {
			margin-left: 1px;
		}
	}

	.swiper-button-disabled,
	.swiper-button-disabled {
		border: 2px solid #8a8a8a;
		color: #8a8a8a;
		opacity: 1;
	}
}
