.hero-aside {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: $size;
	height: calc(100% - $size);

	background: $dark;
}
.hero-aside__soc {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	flex-grow: 1;
	padding: 0 15px;

	.soc {
		flex-direction: column;
	}
	.soc__link {
		width: 40px;
		height: 40px;
		&:not(:last-child) {
			margin-bottom: -1px;
			border-bottom: none;
		}
	}

	&::before {
		display: block;
		content: url(../images/dist/decoration.svg);
	}
}
.soc {
	display: flex;
	margin: 0;
	opacity: 0.2;
}
.soc__link {
	height: $size;
	width: $size;
	border: 1px solid $white;
	display: flex;
}
.soc__img {
	margin: auto;
}
.hero-aside__share-icon {
	background: $accent url(../images/dist/share-solid.svg) no-repeat center;
	background-size: 12px;
	width: 100%;
	flex-basis: $size;
	flex-shrink: 0;
	height: $size;
}
