.hero-content {
	padding-left: $size;
	height: 100%;
	position: relative;
	background-color: $deep;

	@include media-breakpoint-down(lg) {
		padding-left: $size-sm;
	}
}

.swiper-txt {
	height: calc(100% - #{$size});
	width: calc(100% - #{$size});
	overflow: hidden;
	position: absolute;
	z-index: 3;

	@include media-breakpoint-down(lg) {
		height: calc(100% - #{$size-sm});
		width: calc(100% - #{$size-sm});
	}
}

.swiper-txt__slide {
	display: flex;
}

.swiper-txt__info {
	color: $white;
	width: 63%;
	text-align: right;
	align-self: center;
	margin-left: auto;
	margin-right: 17%;

	@include media-breakpoint-down(sm) {
		margin: 0 auto;
		width: 85%;
	}
}

.swiper-txt__title {
	margin-bottom: 21px;
	font-family: "oswald-vh", sans-serif;
	font-weight: 700;
	font-size: 60px;
	line-height: 120%;
	text-transform: uppercase;

	span {
		color: $accent;
		white-space: nowrap;
	}

	@include media-breakpoint-down(lg) {
		font-size: 50px;
	}
	@include media-breakpoint-down(md) {
		font-size: 35px;
	}
	@include media-breakpoint-down(sm) {
		font-size: 28px;
	}
}

.swiper-txt__desc {
	padding-left: 30%;
	margin-bottom: 18px;
	font-weight: 600;
	font-size: 13px;

	@include media-breakpoint-down(md) {
		font-size: 11px;
	}
}

.swiper-txt__button {
	width: auto;
	height: auto;
	padding: 17px 26px;
	font-weight: 800;
	font-size: 10px;
	line-height: 120%;
	color: $white;
	letter-spacing: 2px;
	text-transform: uppercase;
	background: $accent;
	position: relative;

	&::before {
		content: "";
		position: absolute;
		width: 0;
		height: 100%;
		top: 0;
		left: 0;
		background: $dark;
		transition: width 0.75s ease-out;
	}

	&:hover,
	&:focus {
		&::before {
			width: 100%;
		}
	}

	span {
		position: relative;
		z-index: 2;
	}
}

.swiper-img {
	width: 75%;
	height: 100%;
	overflow: hidden;
	position: relative;

	&::before {
		display: block;
		content: "";
		width: 100%;
		height: 100%;
		background-color: rgba($black, 0.45);
		position: absolute;
		z-index: 2;
	}

	@include media-breakpoint-down(lg) {
		width: 100%;
	}
}

.swiper-img__slide {
	height: 100%;
	overflow: hidden;
}

.slide-img__bg {
	// width: 100%;
	height: 100%;
	background-position: center;
	background-size: cover;
}

.hero-content__counter {
	position: absolute;
	top: 15px;
	right: 55px;
	height: 80px;
	line-height: 80px;
	z-index: 2;

	@include media-breakpoint-down(lg) {
		right: 15px;
	}
	@include media-breakpoint-down(sm) {
		display: none;
	}
}

.hero-content__slide-number {
	position: absolute;
	right: 55px;
	bottom: 20px;
	font-family: "oswald-vh";
	font-weight: 500;
	font-size: 100px;
	line-height: 148px;
	z-index: 2;

	.slide-number {
		color: #222;

		// text-shadow: 1px 1px 1px #7f7f7f;
		-webkit-text-stroke: 1px #7f7f7f;
	}

	.slide-number-dot {
		color: $accent;
		margin-left: -25px;
		//noinspection CssInvalidPropertyValue
		-webkit-text-stroke: 0;
	}

	@include media-breakpoint-down(xl) {
		right: 35px;
		transform: scale(0.8);
	}

	@include media-breakpoint-down(lg) {
		right: 5px;
		// transform: scale(0.5);
	}
	@include media-breakpoint-down(md) {
		display: none;
	}
}

//noinspection CssUnknownTarget
.hero-content__gear {
	position: absolute;
	top: calc(50% - 270px);
	right: 5.5%;
	z-index: 2;
	width: 470px;
	height: 470px;
	background: url(../images/dist/gear.svg) no-repeat center;
	background-size: cover;

	@include media-breakpoint-down(lg) {
		display: none;
	}
}

.hero-content__controls {
	display: flex;
	justify-content: space-between; //
	align-items: center;
	bottom: 0;
	width: 71%;
	position: absolute;
	z-index: 3;
	height: $size;

	@include media-breakpoint-down(lg) {
		height: $size-sm;
	}

	@include media-breakpoint-down(md) {
		width: 93%;
	}
}

.hero-content__share {
	background: $dark;
	border-right: 3px solid $accent;

	.soc__link {
		border-left: 1px solid $white;

		&:hover {
			opacity: 1;
			// border-left: none;
		}

		// &:first-child {
		// 	pointer-events: none;
		// }
	}
}

.hero-content__pagination {
	// flex: 0 0 140px;
	width: 140px;
	height: 66%;
	position: relative;

	.swiper-pagination-bullet {
		width: 14px;
		height: 14px;
		background-color: transparent;
		opacity: 1;
		position: relative;
		&::before {
			display: block;
			content: "";
			width: 6px;
			height: 6px;
			background-color: $white;
			top: 50%;
			left: 50%;
			border-radius: 50%;
			transform: translate(-50%, -50%);
			position: absolute;
		}
	}

	.swiper-pagination-bullet-active {
		border: 1px solid $accent;

		&::before {
			background-color: $accent;
		}
	}

	@include media-breakpoint-down(sm) {
		display: none;
	}
}

.hero-content__scrolbar {
	// flex: 1 0 0;
	flex-grow: 1;
	height: 5px;

	.swiper-scrollbar {
		height: 2px;
		background: rgba(255, 255, 255, $opacity * 2);
	}

	.swiper-scrollbar-drag {
		height: 4px;
		background: $accent;
		top: -1px;
	}

	@include media-breakpoint-down(sm) {
		display: none;
	}
}

.hero-content__navigation {
	// flex: 0 0 140px;
	position: relative;
	width: 140px;
	height: 100%;

	.swiper-button-prev,
	.swiper-button-next {
		width: 32px;
		height: 32px;
		color: $accent;
		background: #3c3c3c;
		border: 2px solid $accent;
		border-radius: 50%;

		&::after {
			font-size: 10px;
		}
	}

	.swiper-button-prev {
		left: 24%;

		&::after {
			margin-right: 2px;
		}
	}
	.swiper-button-next {
		right: 24%;

		&::after {
			margin-left: 1px;
		}
	}

	.swiper-button-disabled,
	.swiper-button-disabled {
		border: 2px solid #8a8a8a;
		color: #8a8a8a;
		opacity: 1;
	}
}
